.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.caja1-logo {
    position: absolute;
    width: 500px;
    height: 650px;
    left: 460px;
    top: 50%;
    margin-top: -325px;

    background: #a2da9a;
    background-image: url(/images/logo_login.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
    border-width: 1px;
    border-style: solid;
    border-right: none;
    box-shadow: 5px 5px 5px 0px #cecece;
    flex: 0 0 calc(60%);
}

.formulario {
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    text-align: center;
}

.caja2 {
    position: absolute;
    width: 500px;
    height: 650px;
    left: 955px;
    top: 50%;
    margin-top: -325px;

    background: #cdd8df;
    border-radius: 0px 20px 20px 0px;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    box-shadow: 5px 5px 5px 0px #cecece;
}

body {
    background-image: url(/images/fondo_login.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    align-items: center;
}

.texto-formulario h1,
label,
p {
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
}

.texto-formulario h1 {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.texto-formulario p {
    font-size: 22px;
    text-align: center;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
    text-align: left;
    padding-left: 10px;
}

input {
    width: 90%;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
}

.btn {
    border-radius: 5px;
    background-color: #a2da9a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

button:hover {
    background-color: #7caa76;
}

form {
    font-family: 'Hind Siliguri', sans-serif;
}

.ancla {
    text-decoration: none;
}